name: build
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        java: [21] # Minecraft 1.21.10 requires Java 21
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'microsoft'

      - name: make gradlew executable
        run: chmod +x gradlew

      - name: build
        run: ./gradlew build

      - name: capture build artifacts
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/